<script type="text/javascript">
      // Facebook Shares Count
      $.getJSON( 'http://graph.facebook.com/?id={{ module.header.sharedcounts.facebook }}', function( fbdata ) {
          $('.statistics-facebook #facebook ').text(fbdata.shares)
      });
  </script>

<div class="widget HTML" id="HTML3">
  <h2 class="title"><span>Follow Us</span></h2>
  <div class="widget-content">
    <div class="widget-statistics">
      <ul>
        <li class="statistics-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i><span id="facebook" class="white"></span> <span>Fans</span></a></li>
        <li class="statistics-vimeo"><a href="#" target="_blank"><i class="fa fa-vimeo-square"></i><span id="vimeo" class="white"></span> <span>Subscribers</span></a></li>
        <li class="statistics-youtube"><a href="#" target="_blank"><i class="fa fa-youtube-play"></i><span id="youtube" class="white"></span> <span>Subscribers</span></a></li>
        <li class="statistics-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i><span id="google" class="white"></span> <span>Followers</span></a></li>
        <li class="statistics-dribbble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i><span id="dribbble" class="white"></span> <span>Followers</span></a></li>
      </ul>
    </div>
    </div>
    <div class="clear"></div>
    <span class="widget-item-control">
      <span class="item-control blog-admin">
        <a class="quickedit" href="//www.blogger.com/rearrange?blogID=2798209682211011904&amp;widgetType=HTML&amp;widgetId=HTML3&amp;action=editWidget&amp;sectionId=sidebar" onclick="return _WidgetManager._PopupConfig(document.getElementById(&quot;HTML3&quot;));" target="configHTML3" title="Edit">
          <img alt="" height="18" src="//img1.blogblog.com/img/icon18_wrench_allbkg.png" width="18">
        </a>
      </span>
    </span>
    <div class="clear"></div>
  </div>
